@import "button";
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  user-select: none;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 30%,
    rgb(219, 219, 219) 50%,
    rgba(255, 255, 255, 1) 70%
  );
}
* {
  outline: 0;
}
::-webkit-scrollbar-thumb{
  background-color: #ba1cc2;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, .6);
}
.backToTop{
  opacity: 0;
  img {
    width: 50px;
    position: fixed;
    z-index: 1000000;
    bottom: 3vh;
    right: 2vw;
    background-color: #ba1cc2;
    padding: 1rem;
    border-radius: 1000px;
    cursor: pointer;
  }
}
.hero {
  height: 100vh;
  background-image: url(../../img/backgrounds/projectsHero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 15px #000;
  position: relative;
  h1 {
    font-size: 7rem;
    font-family: "PT Serif";
  }
  p {
    font-family: consolas;
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  .scrollIndicatorLink {
    position: absolute;
    width: 4%;
    bottom: 3vh;
    transition: 0.3s ease-in-out;
    &:hover {
      bottom: 1vh;
    }
  }
}
.projects {
  padding-bottom: 5rem;
  h1 {
    font-family: "PT Serif";
    font-size: 4rem;
    text-align: center;
    padding-top: 4rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    span {
      background-image: linear-gradient(#f5b505, #f5b505);
      background-size: 100% 10px;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-position-y: 85%;
    }
  }
  .cardRow {
    margin: 4rem 8rem 0 8rem;
    .badge{
      font-weight: 400;
    }
    .cardCol {
      display: flex;
      justify-content: center;
      .card {
        width: 90% !important;
        overflow: hidden;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.7);
          img {
            transform: scale(1.2);
          }
        }
        .card-body {
          position: relative;
          z-index: 2;
          background-color: #fff;
          a {
            font-size: 1.2rem;
            color: #2f2f2f;
            font-family: Roboto;
            font-weight: 700;
            &:hover {
              color: #fff;
            }
          }
          .videoButton{
            @include button(#e60703);
          }
          .webButton{
            @include button(#161efc);
          }
          .eventButton{
            @include button(#22bdff);
          }
        }
        img {
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .tipSlikaDiv{
    width: 25%;
    margin: 0 auto;
    padding-top: 2rem;
    ul{
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      li{
        display: inline;
        font-size: 1.3rem;
        cursor: pointer;
      }
    }
  }
}
