body {
  margin: 0%;
  padding: 0%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

* {
  outline: 0;
}

::-webkit-scrollbar {
  display: none;
}

.backToTop {
  opacity: 0;
}
.backToTop img {
  width: 50px;
  position: fixed;
  z-index: 1000000;
  bottom: 3vh;
  right: 2vw;
  background-color: #560eb6;
  padding: 1rem;
  border-radius: 1000px;
  cursor: pointer;
}

.heroSection {
  height: 100vh;
  position: relative;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/backgrounds/heroBG.jpg);
}
.heroSection .heroText {
  margin-top: calc(5rem + 25vh);
  margin-left: 5rem;
  color: #fff;
  padding: 0 3rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.heroSection .heroText h1 {
  padding-top: 2rem;
  font-family: Consolas;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
}
.heroSection .heroText h2 {
  font-family: Roboto;
  font-weight: 100;
  font-style: italic;
}
.heroSection .heroText .heroButtons {
  padding-bottom: 1rem;
}
.heroSection .heroText .heroButtons a {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  transition: 0.3s;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  margin: 0 1rem;
  font-family: consolas;
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.75rem;
}
.heroSection .heroText .heroButtons a:hover {
  background-color: #96009e;
  box-shadow: 0 0 3px #96009e, 0 0 5px #96009e, 0 0 10px #96009e, 0 0 20px #96009e;
  transition-delay: 1s;
}
.heroSection .heroText .heroButtons a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.heroSection .heroText .heroButtons a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.heroSection .heroText .heroButtons a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.heroSection .heroText .heroButtons a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.heroSection .heroText .heroButtons a span {
  position: absolute;
  display: block;
}
.heroSection .heroText .heroButtons a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #96009e);
}
.heroSection .heroText .heroButtons a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #96009e);
}
.heroSection .heroText .heroButtons a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #96009e);
}
.heroSection .heroText .heroButtons a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #96009e);
}
.heroSection .heroText .heroButtons a:nth-child(1) {
  margin-left: -0.5rem;
}
.heroSection .globe {
  position: absolute;
  color: #fff;
  top: 3%;
  left: 2%;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.heroSection .globe:hover {
  color: #d403df;
}
.heroSection dialog {
  border: none;
  border-radius: 20px;
}
.heroSection dialog h1 {
  text-align: center;
  font-family: Inter;
  font-weight: 800;
  color: #000;
}
.heroSection dialog a {
  background-color: transparent;
  border: 0;
  padding: 0%;
  margin: 0.5rem !important;
}
.heroSection dialog img {
  filter: grayscale(0.8);
  transition: filter 0.4s ease-in-out;
}
.heroSection dialog img:hover {
  filter: grayscale(0);
  transition: filter 0.4s ease-in-out;
}
.heroSection dialog .dialogButton {
  display: flex;
  justify-content: center;
}
.heroSection dialog .dialogButton button {
  background-color: #fff;
  color: #f54538;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.3rem 0.75rem;
  vertical-align: middle;
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: border 0.3s ease-in-out;
}
.heroSection dialog .dialogButton button:hover {
  border: 1px solid #f54538;
}
.heroSection dialog::-webkit-backdrop {
  background-color: rgba(26, 0, 22, 0.7);
}
.heroSection dialog::backdrop {
  background-color: rgba(26, 0, 22, 0.7);
}
.heroSection .scrollIndicatorLink {
  border: 0;
  background-color: transparent;
}
.heroSection .scrollIndicatorLink img {
  width: 3%;
  position: absolute;
  bottom: 5vh;
  left: 48%;
  right: auto;
  transition: bottom 0.3s ease-in-out;
}
.heroSection .scrollIndicatorLink img:hover {
  bottom: 3vh;
}

.projectsSection {
  background-image: url(../../img/backgrounds/blobBgProjects.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 0;
  position: relative;
  padding-bottom: 8rem;
}
.projectsSection .projectsText {
  padding-top: 10rem;
  padding-left: 6rem;
}
.projectsSection .projectsText a {
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  display: inline-block;
  transition: 0.3s;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  font-family: Roboto;
  font-weight: 700;
  color: #fff;
}
.projectsSection .projectsText a:hover {
  background-color: #f55d05;
  box-shadow: 0 0 3px #f55d05, 0 0 5px #f55d05, 0 0 10px #f55d05, 0 0 20px #f55d05;
  transition-delay: 1s;
}
.projectsSection .projectsText a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.projectsSection .projectsText a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.projectsSection .projectsText a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.projectsSection .projectsText a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
.projectsSection .projectsText a span {
  position: absolute;
  display: block;
}
.projectsSection .projectsText a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #f55d05);
}
.projectsSection .projectsText a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f55d05);
}
.projectsSection .projectsText a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, #f55d05);
}
.projectsSection .projectsText a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f55d05);
}
.projectsSection .projectsText h1 {
  padding-top: 5rem;
  font-size: 5rem;
  line-height: 5rem;
  font-family: Mont;
  margin: 0;
}
.projectsSection .projectsText h2 {
  font-family: Pacifico;
  font-size: 3.5rem;
  line-height: 3rem;
}
.projectsSection .projectsText .projectsSectionDesc {
  font-weight: 300;
  font-family: "Open Sans";
  font-size: 1.5rem;
  margin-top: 2rem;
}
.projectsSection .projectsSwiper {
  padding: 0;
  padding-right: 4rem;
  position: relative;
}
.projectsSection .projectsSwiper .swiper-pagination-bullet {
  background-color: #fff;
}
.projectsSection .projectsSwiper .swiper-navigation {
  background-color: #fff;
}
.projectsSection .projectsSwiper .swiper {
  max-height: 600px;
  margin-top: 10rem;
}
.projectsSection .projectsSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectsSection .projectsSwiper .swiper-slide a {
  text-decoration: none;
  background-image: linear-gradient(90deg, #f55d05, #47008f);
  background-size: 0% 5px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-position-y: 35px;
  transition: 0.3s ease-in-out;
}
.projectsSection .projectsSwiper .swiper-slide a:hover {
  background-size: 100% 5px;
}
.projectsSection .projectsSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.projectsSection .projectsSwiper .projectDesc {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease-in-out;
}
.projectsSection .projectsSwiper .projectDesc:hover {
  opacity: 1;
}
.projectsSection .projectsSwiper .projectDesc p {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  font-family: "Open Sans";
}
.projectsSection .scrollIndicatorLink {
  border: 0;
  background-color: transparent;
}
.projectsSection .scrollIndicatorLink .scrollIndicator {
  width: 3%;
  position: absolute;
  left: 48%;
  bottom: 5vh;
  z-index: 100;
  transition: bottom 0.3s ease-in-out;
}
.projectsSection .scrollIndicatorLink .scrollIndicator:hover {
  bottom: 3vh;
}

.sertifikatiSection {
  position: relative;
  overflow: hidden;
}
.sertifikatiSection h1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  font-family: Mont;
  font-size: 4rem;
  color: #fff;
  padding-top: 3rem;
}
.sertifikatiSection p {
  font-weight: 300;
  font-family: "Open Sans";
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #fff;
  top: 120px;
}
.sertifikatiSection .background {
  width: 100vw;
  min-height: 1000px;
  background: #1c013f;
}
.sertifikatiSection .swiper {
  max-width: 40vw;
}
.sertifikatiSection .swiperContainer {
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.sertifikatiSection .background span {
  width: 15vmin;
  height: 15vmin;
  border-radius: 15vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.sertifikatiSection .background span:nth-child(1) {
  color: #e45a84;
  top: 67%;
  left: 20%;
  -webkit-animation-duration: 15.2s;
          animation-duration: 15.2s;
  -webkit-animation-delay: -8.1s;
          animation-delay: -8.1s;
  transform-origin: 4vw 8vh;
  box-shadow: -30vmin 0 6.2891063983vmin currentColor;
}
.sertifikatiSection .background span:nth-child(2) {
  color: #e45a84;
  top: 97%;
  left: 42%;
  -webkit-animation-duration: 15.2s;
          animation-duration: 15.2s;
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
  transform-origin: 7vw 8vh;
  box-shadow: 30vmin 0 10.9401985751vmin currentColor;
}
.sertifikatiSection .background span:nth-child(3) {
  color: #ffacac;
  top: 29%;
  left: 77%;
  -webkit-animation-duration: 15.9s;
          animation-duration: 15.9s;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform-origin: -11vw 3vh;
  box-shadow: 30vmin 0 9.970847766vmin currentColor;
}
.sertifikatiSection .background span:nth-child(4) {
  color: #ffacac;
  top: 35%;
  left: 21%;
  -webkit-animation-duration: 10.8s;
          animation-duration: 10.8s;
  -webkit-animation-delay: -15.5s;
          animation-delay: -15.5s;
  transform-origin: 10vw -24vh;
  box-shadow: -30vmin 0 11.0259756458vmin currentColor;
}
.sertifikatiSection .background span:nth-child(5) {
  color: #ffacac;
  top: 29%;
  left: 4%;
  -webkit-animation-duration: 12.7s;
          animation-duration: 12.7s;
  -webkit-animation-delay: -9.3s;
          animation-delay: -9.3s;
  transform-origin: -5vw 5vh;
  box-shadow: 30vmin 0 3.9292603537vmin currentColor;
}
.sertifikatiSection .background span:nth-child(6) {
  color: #583c87;
  top: 60%;
  left: 50%;
  -webkit-animation-duration: 14.2s;
          animation-duration: 14.2s;
  -webkit-animation-delay: -13.9s;
          animation-delay: -13.9s;
  transform-origin: 4vw 6vh;
  box-shadow: 30vmin 0 6.8211172326vmin currentColor;
}
.sertifikatiSection .background span:nth-child(7) {
  color: #ffacac;
  top: 26%;
  left: 90%;
  -webkit-animation-duration: 13.8s;
          animation-duration: 13.8s;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform-origin: 2vw -22vh;
  box-shadow: -30vmin 0 10.9491930646vmin currentColor;
}
.sertifikatiSection .background span:nth-child(8) {
  color: #583c87;
  top: 97%;
  left: 50%;
  -webkit-animation-duration: 11.3s;
          animation-duration: 11.3s;
  -webkit-animation-delay: -15.7s;
          animation-delay: -15.7s;
  transform-origin: 7vw 10vh;
  box-shadow: 30vmin 0 10.7441264086vmin currentColor;
}
.sertifikatiSection .background span:nth-child(9) {
  color: #583c87;
  top: 19%;
  left: 81%;
  -webkit-animation-duration: 12.3s;
          animation-duration: 12.3s;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  transform-origin: -24vw -10vh;
  box-shadow: 30vmin 0 5.0175550135vmin currentColor;
}
.sertifikatiSection .background span:nth-child(10) {
  color: #ffacac;
  top: 57%;
  left: 97%;
  -webkit-animation-duration: 12.1s;
          animation-duration: 12.1s;
  -webkit-animation-delay: -7.7s;
          animation-delay: -7.7s;
  transform-origin: 9vw -13vh;
  box-shadow: 30vmin 0 4.2657215019vmin currentColor;
}
.sertifikatiSection .background span:nth-child(11) {
  color: #e45a84;
  top: 12%;
  left: 10%;
  -webkit-animation-duration: 13.3s;
          animation-duration: 13.3s;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform-origin: -18vw 6vh;
  box-shadow: -30vmin 0 3.7870457296vmin currentColor;
}
.sertifikatiSection .background span:nth-child(12) {
  color: #583c87;
  top: 72%;
  left: 53%;
  -webkit-animation-duration: 14.8s;
          animation-duration: 14.8s;
  -webkit-animation-delay: -4.9s;
          animation-delay: -4.9s;
  transform-origin: 10vw -11vh;
  box-shadow: 30vmin 0 4.9196154531vmin currentColor;
}
.sertifikatiSection .background span:nth-child(13) {
  color: #583c87;
  top: 32%;
  left: 81%;
  -webkit-animation-duration: 15.6s;
          animation-duration: 15.6s;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  transform-origin: 1vw -23vh;
  box-shadow: 30vmin 0 6.1637028033vmin currentColor;
}
.sertifikatiSection .background span:nth-child(14) {
  color: #ffacac;
  top: 59%;
  left: 33%;
  -webkit-animation-duration: 11.5s;
          animation-duration: 11.5s;
  -webkit-animation-delay: -11.9s;
          animation-delay: -11.9s;
  transform-origin: 2vw 1vh;
  box-shadow: -30vmin 0 8.340749684vmin currentColor;
}
.sertifikatiSection .background span:nth-child(15) {
  color: #583c87;
  top: 83%;
  left: 3%;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
  transform-origin: -20vw 9vh;
  box-shadow: -30vmin 0 10.2715133328vmin currentColor;
}
.sertifikatiSection .scrollContainer .scrollIndicatorLink {
  border: 0;
  background-color: transparent;
}
.sertifikatiSection .scrollContainer .scrollIndicatorLink .scrollIndicator {
  width: 3%;
  position: absolute;
  left: 48%;
  bottom: 5vh;
  z-index: 100;
  transition: bottom 0.3s ease-in-out;
}
.sertifikatiSection .scrollContainer .scrollIndicatorLink .scrollIndicator:hover {
  bottom: 3vh;
}
@-webkit-keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.aboutMeSection {
  position: relative;
  text-align: center;
  z-index: 20;
  background-image: url(../../img/backgrounds/aboutMePhoto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}
.aboutMeSection h1 {
  font-size: 5.25rem;
  font-family: Mont;
  color: #fff;
  margin-bottom: 2rem;
  display: inline-block;
  background-image: linear-gradient(#af15cb, #d403df);
  background-size: 100% 12px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.aboutMeSection p {
  font-weight: 300;
  font-family: "Open Sans";
  font-size: 1.4rem;
  color: #fff;
}
.aboutMeSection .row {
  margin-bottom: 4rem;
}
.aboutMeSection .row .aboutMeText {
  text-align: left;
  padding-left: 6rem;
  padding-top: 6rem;
  padding-right: 3rem;
}
.aboutMeSection .row .aboutMeImg {
  padding: 0;
}
.aboutMeSection .row .customAboutMeText {
  font-size: 6rem;
  font-family: Roboto;
  font-weight: 900;
  color: #d403df;
  text-shadow: 0px 6px 0px #96009e, 0px 12px 0px #5e0063;
  line-height: 1rem;
  position: relative;
  z-index: -10;
}
.aboutMeSection .quoteContainer {
  margin: 0;
  padding-top: 5rem;
  position: relative;
}
.aboutMeSection .quoteContainer img {
  max-width: 150px;
  transform: rotate(-10deg);
  position: absolute;
  z-index: -1;
}
.aboutMeSection .quoteContainer img:nth-child(3) {
  transform: rotate(-190deg);
  right: 9%;
  top: -3%;
}
.aboutMeSection .quoteContainer img:nth-child(1) {
  left: 9%;
  top: 30%;
}
.aboutMeSection .quoteContainer .quote {
  font-family: TropicalAsian;
  font-size: 8rem;
  color: #fff;
  text-align: center;
}
.aboutMeSection .quoteContainer .rapper {
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  margin-top: -3rem;
  font-style: italic;
  font-weight: 100;
}
.aboutMeSection .blob {
  position: absolute;
}
.aboutMeSection .blob4 {
  bottom: 20%;
  left: 2%;
  z-index: -1;
  width: 12%;
}
.aboutMeSection .blob5 {
  bottom: 20%;
  right: 4%;
  z-index: -1;
  width: 12%;
}
.aboutMeSection .wavesTop {
  margin-top: 5rem;
}
.aboutMeSection .scrollIndicatorLink .scrollIndicator {
  width: 3%;
  position: absolute;
  left: 48%;
  bottom: 20vh;
  z-index: 100;
  transition: bottom 0.3s ease-in-out;
}
.aboutMeSection .scrollIndicatorLink .scrollIndicator:hover {
  bottom: 18vh;
}

.howIWorkSection {
  position: relative;
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #6e0568 0%, #5107e6 100%);
}
.howIWorkSection h1 {
  font-family: Mont;
  font-weight: 900;
  font-size: 4.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}
.howIWorkSection h1 span {
  background-image: linear-gradient(90deg, #ef7800, #fef506);
  background-size: 100% 18px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.howIWorkSection .container-fluid {
  margin: 0 5rem;
}
.howIWorkSection .textHowIWork {
  margin-top: 4rem;
  padding-left: 4rem;
  text-align: center;
}
.howIWorkSection .textHowIWork h2 {
  font-size: 3.5rem;
  padding-top: 2rem;
  font-family: Inter;
  font-weight: 700;
  color: #fff;
}
.howIWorkSection .textHowIWork p {
  font-size: 1.6rem;
  color: #fff;
  font-family: Roboto;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}
.howIWorkSection .imgHowIWork {
  display: flex;
  justify-content: center;
}
.howIWorkSection .imgHowIWork img {
  width: 60%;
}
.howIWorkSection .bold {
  font-weight: 700;
}
.howIWorkSection .workProcess {
  padding: 4rem 0;
}
.howIWorkSection .workProcess .step {
  text-align: center;
}
.howIWorkSection .workProcess .step h3 {
  font-size: 2.5rem;
  font-family: Inter;
  font-weight: 700;
  color: #fff;
}
.howIWorkSection .workProcess .step h3 span {
  background-image: linear-gradient(90deg, #ef7800, #fef506);
  background-size: 100% 3px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.howIWorkSection .workProcess .step p {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Open Sans";
}
.howIWorkSection .workProcess .step .stat {
  font-size: 1rem;
  color: #00fff0;
}
.howIWorkSection .scrollIndicatorLink .scrollIndicator {
  width: 3%;
  position: absolute;
  left: 48%;
  bottom: 0vh;
  z-index: 100;
  transition: bottom 0.3s ease-in-out;
}
.howIWorkSection .scrollIndicatorLink .scrollIndicator:hover {
  bottom: -2vh;
}

.cta {
  text-align: center;
  background-image: url(../../img/backgrounds/ctaBg-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
}
.cta .waveTransitionBottom {
  width: 100vw;
  position: absolute;
  left: 0;
}
.cta h1 {
  padding-top: 13rem;
  font-family: Mont;
  font-size: 5rem;
}
.cta p {
  font-family: Consolas;
  font-size: 2rem;
  letter-spacing: 2px;
}
.cta .container {
  padding-top: 3rem;
}
.cta .container input {
  width: 95%;
  padding: 0.75rem;
  border-radius: 20px;
  border: 5px solid #fff;
  opacity: 0.8;
  transition: border 0.3s ease-in-out;
}
.cta .container input:hover {
  border: #75b6ff 5px solid;
}
.cta .container input::-moz-placeholder {
  font-style: italic;
  font-size: 1.2rem;
}
.cta .container input:-ms-input-placeholder {
  font-style: italic;
  font-size: 1.2rem;
}
.cta .container input::placeholder {
  font-style: italic;
  font-size: 1.2rem;
}
.cta .container .messasgeRow {
  padding: 1.25rem 28px;
}
.cta .container .messasgeRow textarea {
  resize: none;
  position: relative;
  z-index: 1;
  padding: 1rem;
  border-radius: 20px;
  border: 5px solid #fff;
  opacity: 0.8;
  transition: border 0.3s ease-in-out;
}
.cta .container .messasgeRow textarea::-moz-placeholder {
  font-style: italic;
  font-size: 1.2rem;
}
.cta .container .messasgeRow textarea:-ms-input-placeholder {
  font-style: italic;
  font-size: 1.2rem;
}
.cta .container .messasgeRow textarea::placeholder {
  font-style: italic;
  font-size: 1.2rem;
}
.cta .container .messasgeRow textarea:hover {
  border: #75b6ff 5px solid;
}
.cta button {
  border: 5px solid #fff;
  border-radius: 100px;
  padding: 0.5rem 1.8rem;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1rem;
  transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.cta button:hover {
  border: #75b6ff 5px solid;
  transform: scale(1.1);
}
.cta .socialMediaCTA {
  margin-bottom: 50px;
}
.cta .socialMediaCTA .container {
  padding-top: 30px;
}
.cta .socialMediaCTA p {
  text-align: right;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 100;
}
.cta .socialMediaCTA ul {
  text-align: left;
  list-style-type: none;
}
.cta .socialMediaCTA ul li {
  margin: 0.15rem 1rem;
  display: inline;
}
.cta .socialMediaCTA ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.cta .socialMediaCTA ul li a:hover {
  color: #75b6ff;
}
.cta footer .footerNav {
  background-color: #fff;
  border-radius: 1000px;
  margin-top: 0.75rem;
}
.cta footer .footerNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.cta footer .footerNav ul li {
  display: inline;
  padding: 1rem 2rem;
  border-radius: 50px;
  transition: background-color 0.5s ease-in-out;
}
.cta footer .footerNav ul li:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: #000;
}
.cta footer .footerNav ul li:hover a {
  transition: color 0.5s ease-in-out;
  color: #fff;
}
.cta footer .footerNav ul li a {
  color: #000;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
}
.cta footer .copyright p {
  font-family: Roboto;
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0%;
}
.cta footer .iconsCredits {
  opacity: 0.7;
  font-size: 0.85rem;
}
.cta footer .iconsCredits a {
  text-decoration: none;
  color: #fafafa;
}

@font-face {
  font-family: TropicalAsian;
  src: url(../../fonts/TropicalAsian.ttf);
}
@font-face {
  font-family: Mont;
  src: url(../../fonts/Mont.otf);
}
@font-face {
  font-family: Pacifico;
  src: url(../../fonts/Pacifico.ttf);
}/*# sourceMappingURL=style.css.map */