@import "button";
body {
  margin: 0%;
  padding: 0%;
  user-select: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  .goog-te-menu-frame {
    box-shadow: none;
  }
}
::-webkit-scrollbar-thumb {
  background-color: #d403df;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
}
* {
  outline: 0;
}
.scrollIndicatorLink {
  img {
    width: 3%;
    position: absolute;
    left: 49%;
    bottom: 4vh;
    z-index: 100;
    transition: bottom 0.3s ease-in-out;
    &:hover {
      bottom: 3vh;
    }
  }
}
.backToTop {
  opacity: 0;
  img {
    width: 100px;
    position: fixed;
    z-index: 1000000;
    bottom: 3vh;
    right: 2vw;
    background-color: #ba1cc2;
    padding: 2rem;
    border-radius: 1000px;
    cursor: pointer;
  }
}
.heroSection {
  height: 100vh;
  position: relative;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../img/backgrounds/heroBG.jpg);
  .heroText {
    margin-top: calc(5rem + 25vh);
    margin-left: 5rem;
    color: #fff;
    padding: 0 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    h1 {
      padding-top: 2rem;
      font-family: Consolas;
      font-weight: 600;
      letter-spacing: 3px;
      font-size: 6rem;
    }
    h2 {
      font-family: Roboto;
      font-weight: 100;
      font-style: italic;
      font-size: 4rem;
      margin: 1.5rem 0;
    }
    .heroButtons {
      padding-bottom: 1rem;
      a {
        @include button(#96009e);
        margin: 1rem 2rem;
        font-family: consolas;
        letter-spacing: 2px;
        color: #fff;
        font-size: 3.5rem;
      }
      a:nth-child(1) {
        margin-left: -1rem;
      }
    }
  }
  .globe {
    position: absolute;
    color: #fff;
    top: 3%;
    left: 2%;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #d403df;
    }
  }
  #google_translate_element {
    display: inline;
    .goog-te-gadget-simple {
      background-color: transparent;
      border: 0;
    }
    .goog-te-menu-value {
      display: none;
    }
    img {
      display: none;
    }
  }
}
.projectsSection {
  background-image: url(../../img/backgrounds/blobBgProjects.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 0;
  position: relative;
  .container-fluid {
    padding: 10rem 15rem 15rem 15rem;
  }
  .projectsText {
    padding-right: 20rem;
    a {
      @include button(#f55d05);
      font-size: 2.8rem;
      font-family: Roboto;
      font-weight: 700;
      color: #fff;
      margin-top: 2rem;
    }
    h1 {
      padding-top: 6rem;
      font-size: 10rem;
      line-height: 5rem;
      font-family: Mont;
      margin: 0;
    }
    h2 {
      font-family: Pacifico;
      font-size: 7rem;
    }
    .projectsSectionDesc {
      font-weight: 300;
      font-family: "Open Sans";
      font-size: 3rem;
      margin-top: 2rem;
    }
  }
  .projectsSwiper {
    padding: 0;
    position: relative;
    .swiper-pagination-bullet {
      background-color: #fff;
    }
    .swiper-navigation {
      background-color: #fff;
    }
    .swiper {
      max-height: 97%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      a {
        text-decoration: none;
        background-image: linear-gradient(90deg, #f55d05, #47008f);
        background-size: 0% 10px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: 0.3s ease-in-out;
        &:hover {
          background-size: 100% 10px;
        }
      }
    }
    .swiper-slide img {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;
      bottom: 0;
      object-fit: contain;
    }
    .projectDesc {
      opacity: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.4s ease-in-out;
      &:hover {
        opacity: 1;
      }
      p {
        font-size: 3rem;
        color: #fff;
        font-weight: 300;
        font-family: "Open Sans";
      }
    }
  }
}
.sertifikatiSection {
  position: relative;
  overflow: hidden;
  .sertifikatiText {
    position: absolute;
    z-index: 10000;
    width: 100%;
    text-align: center;
    color: #fff;
    h1 {
      font-family: Mont;
      font-size: 10rem;
      padding-top: 2rem;
    }
  }
  .background {
    width: 100vw;
    height: 100vh;
    background: #1c013f;
  }
  .swiper {
    max-width: 40vw;
    .swiper-slide{
      cursor: all-scroll;
    }
  }
  .swiperContainer {
    height: 75%;
    width: 100%;
    position: absolute;
    top: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .background span {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    $colors: (#583c87, #e45a84, #ffacac);
    @for $i from 1 through 15 {
      &:nth-child(#{$i}) {
        color: nth($colors, random(length($colors)));
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: (random(6s * 10) / 10) * 1s + 10s;
        animation-delay: random((6s + 10s) * 10) / 10 * -1s;
        transform-origin: (random(35) - 25) * 1vw (random(35) - 25) * 1vh;
        $blurRadius: (random() + 0.5) * 15vmin * 0.5;
        $x: if(random() > 0.5, -1, 1);
        box-shadow: (15vmin * 2 * $x) 0 $blurRadius currentColor;
      }
    }
  }
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
}
.aboutMeSection {
  position: relative;
  text-align: center;
  z-index: 20;
  background-image: url(../../img/backgrounds/aboutMePhoto2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  h1 {
    font-size: 10rem;
    font-family: Mont;
    color: #fff;
    margin-bottom: 2rem;
    display: inline-block;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #d403df);
    background-size: 100% 12px;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  p {
    font-weight: 300;
    font-family: "Open Sans";
    font-size: 3rem;
    color: #fff;
  }
  .row {
    margin-bottom: 4rem;
    .aboutMeText {
      text-align: left;
      padding-left: 12rem;
      padding-top: 5rem;
      padding-right: 5rem;
    }
    .customAboutMeText {
      font-size: 10rem;
      font-family: Roboto;
      font-weight: 900;
      color: #d403df;
      text-shadow: 0px 6px 0px #96009e, 0px 12px 0px #5e0063;
      margin-top: -3.5rem;
      position: relative;
      z-index: -10;
    }
  }
  .quoteContainer {
    margin: 0;
    padding-top: 5rem;
    position: relative;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    .quote {
      font-family: TropicalAsian;
      font-size: 17rem;
      color: #fff;
      text-align: center;
    }
    .rapper {
      font-family: Roboto;
      font-weight: 300;
      text-align: center;
      margin-top: -6rem;
      font-style: italic;
      font-weight: 100;
    }
  }
  .blob {
    position: absolute;
  }
  .blob4 {
    bottom: 20%;
    left: 2%;
    z-index: -1;
    width: 12%;
  }
  .blob5 {
    bottom: 20%;
    right: 4%;
    z-index: -1;
    width: 12%;
  }
  .wavesTop {
    margin-top: 5rem;
    height: 400px;
    width: 100%;
  }
  .jas{
    position: absolute;
    right: 5vw;
    top: 0;
    width: 30%;
    z-index: -100;
  }
}
.howIWorkSection {
  position: relative;
  z-index: 1000;
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #6e0568 0%, #5107e6 100%);
  h1 {
    font-family: Mont;
    font-weight: 900;
    font-size: 9rem;
    color: #fff;
    text-align: center;
    margin-bottom: 11rem;
    span {
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #fa7268);
      background-size: 100% 30px;
      background-position: left bottom;
      background-repeat: no-repeat;
    }
  }
  .container-fluid {
    padding: 0 8%;
    .row{
      margin: 0;
    }
  }
  .textHowIWork {
    padding-left: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    h2 {
      font-size: 6rem;
      font-family: Inter;
      font-weight: 700;
      color: #fff;
      span {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), #fa7268);
        background-size: 100% 15px;
        background-position: left bottom;
        background-repeat: no-repeat;
      }
    }
    p {
      font-size: 3rem;
      color: #fff;
      font-family: Roboto;
      font-weight: 100;
      letter-spacing: 1px;
      margin-bottom: 0;
      z-index: 10;
    }
  }
  .imgHowIWork {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
  }
  .bold {
    font-weight: 700;
  }
  .workProcess {
    padding: 4rem 1rem;
    .step {
      padding: 0;
      h3 {
        font-size: 5rem;
        font-family: Inter;
        font-weight: 700;
        color: #fff;
        span {
          background-image: linear-gradient(90deg, #ef7800, #fef506);
          background-size: 100% 8px;
          background-position: left bottom;
          background-repeat: no-repeat;
        }
      }
      p {
        padding: 0;
        font-size: 2.5rem;
        color: #fff;
        font-family: "Open Sans";
      }
      .stat {
        font-size: 2rem;
        color: #00fff0;
      }
      text-align: center;
    }
  }
}
.cta {
  text-align: center;
  background-image: url(../../img/backgrounds/ctaBg-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  .waveTransitionBottom {
    width: 100vw;
    position: absolute;
    left: 0;
    height: 200px;
  }
  h1 {
    padding-top: 13rem;
    font-family: Mont;
    font-size: 10rem;
  }
  p {
    font-family: Consolas;
    font-size: 4rem;
    letter-spacing: 2px;
  }
  .container-fluid {
    padding-top: 3rem;
    .col-md-6{
      padding: 0;
    }
    .CTAInputCol1{
      padding-right: .5rem;
    }
    .CTAInputCol2{
      padding-left: .5rem;
    }
    #textInput{
      float: right;
    }
    #emailInput{
      float: left;
    }
    input {
      width: 60%;
      padding: 0.75rem;
      border-radius: 20px;
      border: 8px solid #fff;
      opacity: 0.8;
      font-size: 2rem;
      transition: border 0.3s ease-in-out;
      &:hover {
        border: #75b6ff 8px solid;
      }
      &::placeholder {
        font-style: italic;
      }
    }
    .messageRow {
      padding: 1.25rem 0;
      display: flex;
      justify-content: center;
      textarea {
        resize: none;
        width: 60%;
        position: relative;
        z-index: 1;
        padding: 1rem;
        border-radius: 20px;
        border: 8px solid #fff;
        opacity: 0.8;
        font-size: 2rem;
        &::placeholder {
          font-style: italic;
        }
        transition: border 0.3s ease-in-out;
        &:hover {
          border: #75b6ff 8px solid;
        }
      }
    }
  }
  button {
    border: 8px solid #fff;
    border-radius: 100px;
    padding: .75rem 2rem;
    font-family: Roboto;
    font-weight: 300;
    font-size: 2.3rem;
    margin-top: 2rem;
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
    &:hover {
      border: #75b6ff 8px solid;
      transform: scale(1.1);
    }
  }
  .socialMediaCTA {
    .container {
      padding-top: 2.5rem;
    }
    margin-bottom: 50px;
    ul {
      text-align: center;
      list-style-type: none;
      padding-left: 0 !important;
      li {
        margin: 0.15rem 1rem;
        display: inline;
        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: #75b6ff;
          }
        }
      }
    }
  }
  footer {
    .copyright p {
      font-family: Roboto;
      font-weight: 100;
      font-size: 3.5rem;
      margin-top: 2.5rem;
      margin-bottom: 0%;
    }
    .iconsCredits {
      opacity: 0.7;
      font-size: 1.5rem;
      a {
        text-decoration: none;
        color: #fafafa;
      }
    }
  }
}
@font-face {
  font-family: TropicalAsian;
  src: url(../../fonts/TropicalAsian.ttf);
}
@font-face {
  font-family: Mont;
  src: url(../../fonts/Mont.otf);
}
@font-face {
  font-family: Pacifico;
  src: url(../../fonts/Pacifico.ttf);
}
