body {
  margin: 0%;
  padding: 0%;
  user-select: none;
  overflow-x: hidden;
}
* {
  outline: 0;
}
.heroSection {
  background-image: url(../../assets/img/heroBgGray1080p-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  nav {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 95%
    );
    padding: 1rem 0;
    .navLogo {
      width: 70%;
    }
    .navLinks {
      ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        li {
          display: inline;
          font-family: Montserrat, sans-serif;
          font-size: 1.5rem;
          a {
            text-decoration: none;
            color: #fff;
            transition: color 0.3s ease-in-out;
            &:hover {
              color: #db4900;
            }
          }
        }
      }
    }
  }
  .heroElements {
    position: relative;
    .row {
      padding-top: 10rem;
      .heroCol1 {
        .flagsContainer {
          width: 15%;
          margin-left: 2rem;
          padding-top: 3rem;
          padding-right: 0;
          img {
            margin: 0.75rem auto;
            filter: grayscale(90%);
            transition: filter 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
              filter: grayscale(0);
            }
          }
        }
      }
      .heroCol2 {
        height: 49rem;
        text-shadow: 0px 0px 13px #000000;
        color: #fff;
        padding-left: 0;
        h1 {
          font-size: 4rem;
          font-family: Mont, sans-serif;
          font-weight: 700;
        }
        p {
          font-family: "Raleway", "Times New Roman";
          font-size: 1.5rem;
        }
      }
      .heroCol4 {
        ul {
          list-style-type: none;
          padding-right: 3rem;
          margin: 0;
          li {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 1.5rem 0;
            a {
              width: 50px;
              text-align: center;
              color: #fff;
              transition: color 0.3s ease-in-out;
              &:hover {
                color: #db4900;
              }
            }
          }
        }
      }
    }
    .heroArrow {
      position: absolute;
      bottom: 10%;
      left: 46vw;
      color: #fff;
      transition: bottom 0.6s ease-in-out;
      &:hover {
        bottom: 5%;
      }
    }
    .jas {
      position: absolute;
      bottom: 10%;
      right: 20%;
    }
  }
}
.aboutMeSection {
  padding-top: 5rem;
  margin-bottom: 8rem;
  position: relative;
  text-align: center;
  h1 {
    font-size: 5.25rem;
    font-family: Raleway;
    color: #000000;
    margin-bottom: 8rem;
    display: inline-block;
    background-image: linear-gradient(#00ffb1, #00ffb1);
    background-size: 100% 12px;
    background-repeat: no-repeat;
    background-position: left 70px;
  }
  p {
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 1.4rem;
  }
  .row {
    margin-bottom: 7rem;
    .jasAboutMeCol {
      text-align: center;
      img {
        width: 20%;
      }
    }
    .customAboutMeText {
      font-size: 6rem;
      font-family: Roboto;
      font-weight: 900;
      color: #00ffb1;
      text-shadow: 0px 6px 0px rgba(3, 191, 133, 1),
        0px 12px 0px rgba(0, 113, 78, 1);
      line-height: 0rem;
      position: relative;
      z-index: -10;
    }
  }
  .quoteContainer {
    margin: 0;
    position: relative;
    img {
      max-width: 150px;
      transform: rotate(-10deg);
      position: absolute;
      z-index: -1;
    }
    img:nth-child(3) {
      transform: rotate(-190deg);
      right: 9%;
      top: 2%;
    }
    img:nth-child(1) {
      left: 9%;
      top: 25%;
    }
    .quote {
      font-family: TropicalAsian;
      font-size: 8rem;
      color: #000000;
      text-align: center;
    }
    .rapper {
      font-family: Inter;
      font-weight: 300;
      text-align: center;
    }
  }
  .blob {
    position: absolute;
  }
  .blob1 {
    top: 0;
    right: 0;
    z-index: -1;
    transform: rotate(-53deg);
    width: 20%;
  }
  .blob2 {
    top: 20%;
    left: 10%;
    z-index: -1;
    transform: rotate(45deg);
    width: 10%;
  }
  .blob3 {
    top: 35%;
    left: 46%;
    z-index: -2;
    transform: rotate(45deg);
    width: 14%;
  }
  .blob4 {
    top: 60%;
    left: 8%;
    z-index: -1;
    transform: rotate(45deg);
    width: 18%;
  }
  .blob5 {
    top: 69%;
    right: 8%;
    z-index: -1;
    transform: rotate(45deg);
    width: 12%;
  }
}
.projectsSection {
  background-image: url(../../assets/img/blobBgProjects.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  min-height: 1000px;
  position: relative;
  z-index: 0;
  h1 {
    padding-top: 5rem;
    font-size: 5rem;
    line-height: 5rem;
    font-family: Mont;
    margin: 0;
  }
  h2 {
    font-family: Pacifico;
    font-size: 4rem;
    line-height: 3rem;
    position: absolute;
    left: 52%;
    top: 6.5%;
    transform: rotate(-12deg);
  }
  .projectsSectionDesc {
    font-weight: 500;
    font-family: "Open Sans";
    font-size: 1.5rem;
    width: 75%;
    margin: 5rem auto 7rem auto;
  }
  .projects {
    .row {
      text-align: left;
      margin-bottom: 5rem;
      .projectsImg {
        display: flex;
        justify-content: flex-end;
        img {
          border-radius: 30px;
        }
      }
      h3 {
        font-size: 2rem;
        font-family: Mont;
        margin-bottom: 1.2rem;
      }
      p {
        font-family: Inter;
        font-weight: 200;
        font-size: 1.2rem;
      }
      .project2text {
        h3 {
          padding-top: 3rem;
        }
      }
    }
  }
  .projectsOutro {
    h4 {
      font-size: 2rem;
      font-family: Mont;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 1.7rem;
      font-family: Inter;
      font-weight: 100;
    }
    .waveTransitionTop {
      width: 100vw;
    }
  }
  .textDecorationProjects {
    background-image: linear-gradient(90deg, #ff683a, #610068);
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-position-y: 35px;
    transition: background-size 0.6s ease-in-out;
    text-decoration: none;
    color: #fff;
    &:hover {
      background-size: 100% 5px;
    }
  }
}
.howIWorkSection {
  background: linear-gradient(
    180deg,
    rgba(82, 10, 228, 1) 0%,
    rgba(141, 55, 254, 1) 100%
  );
  position: relative;
  .city {
    position: absolute;
    opacity: 0.1;
  }
  h1 {
    font-family: Mont;
    font-weight: 900;
    font-size: 4.5rem;
    color: #fff;
    text-align: center;
    span {
      background-image: linear-gradient(90deg, #ef7800, #fef506);
      background-size: 100% 18px;
      background-position: left bottom;
      background-repeat: no-repeat;
      background-position-y: 68px;
    }
  }
  .headingHowIWork {
    margin-top: 8.5rem;
    span {
      font-size: 3rem;
      font-family: Inter;
      font-weight: 700;
      color: #fff;
      line-height: 45px;
      vertical-align: middle;
      position: relative;
      z-index: 10;
    }
    img {
      width: 7%;
    }
  }
  p {
    font-size: 1.5rem;
    color: #fff;
    font-family: Roboto;
    font-weight: 300;
    padding-left: 5.8rem;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
  }
  .bold {
    font-weight: 700;
  }
  .container-fluid {
    position: relative;
    z-index: 10;
    padding-top: 5rem;
    width: 80%;
  }
}
.cta {
  text-align: center;
  background-image: url(../../assets/img/ctaBg-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  .waveTransitionBottom {
    width: 100vw;
    position: absolute;
    left: 0;
  }
  h1 {
    padding-top: 13rem;
    font-family: Mont;
    font-size: 5rem;
  }
  p {
    font-family: Consolas;
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .container {
    padding-top: 3rem;
    input {
      width: 95%;
      padding: 0.75rem;
      border-radius: 20px;
      border: 5px solid #fff;
      opacity: 0.8;
      transition: border 0.3s ease-in-out;
      &:hover {
        border: #75b6ff 5px solid;
      }
      &::placeholder {
        font-style: italic;
        font-size: 1.2rem;
      }
    }
    .messasgeRow {
      padding: 1.25rem 28px;
      textarea {
        resize: none;
        position: relative;
        z-index: 1;
        padding: 1rem;
        border-radius: 20px;
        border: 5px solid #fff;
        opacity: 0.8;
        &::placeholder {
          font-style: italic;
          font-size: 1.2rem;
        }
        transition: border 0.3s ease-in-out;
        &:hover {
          border: #75b6ff 5px solid;
        }
      }
    }
  }
  button {
    border: 5px solid #fff;
    border-radius: 100px;
    padding: 0.5rem 1.8rem;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.25rem;
    margin-top: 1rem;
    transition: border 0.3s ease-in-out, transform 0.3s ease-in-out;
    &:hover {
      border: #75b6ff 5px solid;
      transform: scale(1.1);
    }
  }
  .socialMediaCTA {
    .container {
      padding-top: 30px;
    }
    margin-bottom: 50px;
    p {
      text-align: right;
      font-family: Roboto;
      font-size: 1.5rem;
      font-weight: 100;
    }
    ul {
      text-align: left;
      list-style-type: none;
      li {
        margin: 0.15rem 1rem;
        display: inline;
        a {
          color: #fff;
          text-decoration: none;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: #75b6ff;
          }
        }
      }
    }
  }
  footer{
    .footerNav{
      background-color: #fff;
      border-radius: 1000px;
      margin-top: .75rem;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        li{
          display: inline;
          padding: 1rem 2rem;
          border-radius: 50px;
          transition: background-color .5s ease-in-out;
          &:hover{
            transition: background-color .5s ease-in-out;
            background-color: #000;
            a{
              transition: color .5s ease-in-out;
              color: #fff;
            }
          }
          a{
            color: #000;
            text-decoration: none;
            font-family: Roboto;
            font-weight: 300;
            font-size: 1.2rem;
          }
        }
      }
    }
    .copyright p{
        font-family: Roboto;
        font-weight: 100;
        font-size: 1.5rem;
        margin-top: 2.5rem;
    }
  }
}
@font-face {
  font-family: TropicalAsian;
  src: url(../fonts/TropicalAsian.ttf);
}
@font-face {
  font-family: Mont;
  src: url(../fonts/Mont.otf);
}
@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico.ttf);
}
