body {
  margin: 0%;
  padding: 0%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
}

.heroSection {
  background-image: url(../../assets/img/heroBgGray1080p-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
.heroSection nav {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 95%);
  padding: 1rem 0;
}
.heroSection nav .navLogo {
  width: 70%;
}
.heroSection nav .navLinks ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.heroSection nav .navLinks ul li {
  display: inline;
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
}
.heroSection nav .navLinks ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.heroSection nav .navLinks ul li a:hover {
  color: #db4900;
}
.heroSection .heroElements {
  position: relative;
}
.heroSection .heroElements .row {
  padding-top: 10rem;
}
.heroSection .heroElements .row .heroCol1 .flagsContainer {
  width: 15%;
  margin-left: 2rem;
  padding-top: 3rem;
  padding-right: 0;
}
.heroSection .heroElements .row .heroCol1 .flagsContainer img {
  margin: 0.75rem auto;
  filter: grayscale(90%);
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}
.heroSection .heroElements .row .heroCol1 .flagsContainer img:hover {
  filter: grayscale(0);
}
.heroSection .heroElements .row .heroCol2 {
  height: 49rem;
  text-shadow: 0px 0px 13px #000000;
  color: #fff;
  padding-left: 0;
}
.heroSection .heroElements .row .heroCol2 h1 {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.heroSection .heroElements .row .heroCol2 p {
  font-family: "Raleway", "Times New Roman";
  font-size: 1.5rem;
}
.heroSection .heroElements .row .heroCol4 ul {
  list-style-type: none;
  padding-right: 3rem;
  margin: 0;
}
.heroSection .heroElements .row .heroCol4 ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 0;
}
.heroSection .heroElements .row .heroCol4 ul li a {
  width: 50px;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.heroSection .heroElements .row .heroCol4 ul li a:hover {
  color: #db4900;
}
.heroSection .heroElements .heroArrow {
  position: absolute;
  bottom: 10%;
  left: 46vw;
  color: #fff;
  transition: bottom 0.6s ease-in-out;
}
.heroSection .heroElements .heroArrow:hover {
  bottom: 5%;
}
.heroSection .heroElements .jas {
  position: absolute;
  bottom: 10%;
  right: 20%;
}

.aboutMeSection {
  padding-top: 5rem;
  margin-bottom: 8rem;
  position: relative;
  text-align: center;
}
.aboutMeSection h1 {
  font-size: 5.25rem;
  font-family: Raleway;
  color: #000000;
  margin-bottom: 8rem;
  display: inline-block;
  background-image: linear-gradient(#00ffb1, #00ffb1);
  background-size: 100% 12px;
  background-repeat: no-repeat;
  background-position: left 70px;
}
.aboutMeSection p {
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.4rem;
}
.aboutMeSection .row {
  margin-bottom: 7rem;
}
.aboutMeSection .row .jasAboutMeCol {
  text-align: center;
}
.aboutMeSection .row .jasAboutMeCol img {
  width: 20%;
}
.aboutMeSection .row .customAboutMeText {
  font-size: 6rem;
  font-family: Roboto;
  font-weight: 900;
  color: #00ffb1;
  text-shadow: 0px 6px 0px #03bf85, 0px 12px 0px #00714e;
  line-height: 0rem;
  position: relative;
  z-index: -10;
}
.aboutMeSection .quoteContainer {
  margin: 0;
  position: relative;
}
.aboutMeSection .quoteContainer img {
  max-width: 150px;
  transform: rotate(-10deg);
  position: absolute;
  z-index: -1;
}
.aboutMeSection .quoteContainer img:nth-child(3) {
  transform: rotate(-190deg);
  right: 9%;
  top: 2%;
}
.aboutMeSection .quoteContainer img:nth-child(1) {
  left: 9%;
  top: 25%;
}
.aboutMeSection .quoteContainer .quote {
  font-family: TropicalAsian;
  font-size: 8rem;
  color: #000000;
  text-align: center;
}
.aboutMeSection .quoteContainer .rapper {
  font-family: Inter;
  font-weight: 300;
  text-align: center;
}
.aboutMeSection .blob {
  position: absolute;
}
.aboutMeSection .blob1 {
  top: 0;
  right: 0;
  z-index: -1;
  transform: rotate(-53deg);
  width: 20%;
}
.aboutMeSection .blob2 {
  top: 20%;
  left: 10%;
  z-index: -1;
  transform: rotate(45deg);
  width: 10%;
}
.aboutMeSection .blob3 {
  top: 35%;
  left: 46%;
  z-index: -2;
  transform: rotate(45deg);
  width: 14%;
}
.aboutMeSection .blob4 {
  top: 60%;
  left: 8%;
  z-index: -1;
  transform: rotate(45deg);
  width: 18%;
}
.aboutMeSection .blob5 {
  top: 69%;
  right: 8%;
  z-index: -1;
  transform: rotate(45deg);
  width: 12%;
}

.projectsSection {
  background-image: url(../../assets/img/blobBgProjects.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  min-height: 1000px;
  position: relative;
  z-index: 0;
}
.projectsSection h1 {
  padding-top: 5rem;
  font-size: 5rem;
  line-height: 5rem;
  font-family: Mont;
  margin: 0;
}
.projectsSection h2 {
  font-family: Pacifico;
  font-size: 4rem;
  line-height: 3rem;
  position: absolute;
  left: 52%;
  top: 6.5%;
  transform: rotate(-12deg);
}
.projectsSection .projectsSectionDesc {
  font-weight: 500;
  font-family: "Open Sans";
  font-size: 1.5rem;
  width: 75%;
  margin: 5rem auto 7rem auto;
}
.projectsSection .projects .row {
  text-align: left;
  margin-bottom: 5rem;
}
.projectsSection .projects .row .projectsImg {
  display: flex;
  justify-content: flex-end;
}
.projectsSection .projects .row .projectsImg img {
  border-radius: 30px;
}
.projectsSection .projects .row h3 {
  font-size: 2rem;
  font-family: Mont;
  margin-bottom: 1.2rem;
}
.projectsSection .projects .row p {
  font-family: Inter;
  font-weight: 200;
  font-size: 1.2rem;
}
.projectsSection .projects .row .project2text h3 {
  padding-top: 3rem;
}
.projectsSection .projectsOutro h4 {
  font-size: 2rem;
  font-family: Mont;
  margin-bottom: 1.2rem;
}
.projectsSection .projectsOutro p {
  font-size: 1.7rem;
  font-family: Inter;
  font-weight: 100;
}
.projectsSection .textDecorationProjects {
  background-image: linear-gradient(90deg, #ff683a, #610068);
  background-size: 0% 11px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.6s ease-in-out;
  text-decoration: none;
  color: #fff;
}
.projectsSection .textDecorationProjects:hover {
  background-size: 100% 11px;
}

.howIWorkSection {
  background: linear-gradient(180deg, #520ae4 0%, #8d37fe 100%);
  position: relative;
}
.howIWorkSection .city {
  position: absolute;
  opacity: 0.1;
}
.howIWorkSection h1 {
  font-family: Inter;
  font-weight: 900;
  font-size: 4.5rem;
  color: #fff;
  text-align: center;
}
.howIWorkSection h1 span {
  background-image: linear-gradient(90deg, #ef7800, #fef506);
  background-size: 100% 20px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.howIWorkSection .headingHowIWork {
  margin-top: 8.5rem;
}
.howIWorkSection .headingHowIWork span {
  font-size: 3rem;
  font-family: Inter;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  vertical-align: middle;
  position: relative;
  z-index: 10;
}
.howIWorkSection .headingHowIWork img {
  width: 7%;
}
.howIWorkSection p {
  font-size: 1.5rem;
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
  padding-left: 5.8rem;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}
.howIWorkSection .bold {
  font-weight: 700;
}
.howIWorkSection .container-fluid {
  position: relative;
  z-index: 10;
  padding-top: 5rem;
  width: 80%;
}

@font-face {
  font-family: TropicalAsian;
  src: url(../fonts/TropicalAsian.ttf);
}
@font-face {
  font-family: Mont;
  src: url(../fonts/Mont.otf);
}
@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico.ttf);
}/*# sourceMappingURL=style.css.map */