@import "../../button";
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  user-select: none;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 30%,
    rgb(219, 219, 219) 50%,
    rgba(255, 255, 255, 1) 70%
  );
  background-repeat: no-repeat;
  .globe {
    position: absolute;
    color: #fff;
    top: 3%;
    right: 2%;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #00f9ff;
    }
  }
  #google_translate_element {
    position: absolute;
    top: 1%;
    right: 2%;
    display: inline;
    .goog-te-gadget-simple {
      background-color: transparent;
      border: 0;
    }
    .goog-te-menu-value {
      display: none;
    }
    img {
      display: none;
    }
  }
}
* {
  outline: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #00f9ff;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
}
.backToTop {
  opacity: 0;
  img {
    width: 100px;
    position: fixed;
    z-index: 1000000;
    bottom: 3vh;
    right: 2vw;
    background-color: #00f9ff;
    padding: 2rem;
    border-radius: 1000px;
    cursor: pointer;
  }
}
.nastaniHero {
  background-image: url(../../../../img/projects/nastani/microbit/microbitHero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .nastaniHeroCol {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20vh;
    text-align: center;
    h1 {
      font-family: Mont;
      padding: 0 25rem;
      font-size: 8rem !important;
      color: #e6e6e6;
      margin-top: 5vh;
      span {
        background-image: linear-gradient(90deg, #00f9ff, #095ab0);
        background-size: 0% 5px;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-position-y: 48px;
        // transition: .75s ease-in-out;
        // &:hover{
        //   background-size: 100% 5px;
        // }
      }
    }
  }
  .scrollIndicatorLink {
    border: 0;
    background-color: transparent;
    img {
      width: 3%;
      position: absolute;
      bottom: 5vh;
      left: 48%;
      right: auto;
      transition: bottom 0.3s ease-in-out;
      &:hover {
        bottom: 3vh;
      }
    }
  }
}
.zaNastanot{
  .container-fluid{
    padding: 0 20rem;
  }
  padding-top: 5rem;
  .resizeImg{
    width: 80%;
    display: inline-block;
    margin-left: 20%;
  }
  h2{
    text-align: center;
    font-family: Mont;
    font-size: 8rem;
    padding-bottom: 1rem;
    span{
      background-image: linear-gradient(90deg, #00f9ff, #095ab0);
      background-size: 100% 15px;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-position-y: 135px;
    }
  }
  .zaNastanotCol{
    text-align: center;
    p{
      font-size: 2.5rem;
      font-family: Inter;
      font-weight: 600;
    }
  }
  .zaNastanotColIMG{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nastaniPara2{
    margin-top: 10rem;
    .zaNastanotCol{
      text-align: left;
      h3{
        font-family: Mont;
        font-size: 5rem;
        padding-bottom: 1rem;
        span{
          background-image: linear-gradient(90deg, #00f9ff, #095ab0);
          background-size: 100% 10px;
          background-repeat: no-repeat;
          background-position: left bottom;
          background-position-y: 80px;
        }
      }
    }
    .nastaniTextRight{
      text-align: right;
    }
  }
}
@font-face {
  font-family: Mont;
  src: url(../../../../fonts/Mont.otf);
}
footer {
  text-align: center;
  .copyright p {
    font-family: Roboto;
    font-weight: 100;
    font-size: 3.5rem;
    margin-top: 2.5rem;
    margin-bottom: 0%;
  }
  .iconsCredits {
    opacity: 0.7;
    font-size: 1.5rem;
    a {
      text-decoration: none;
      color: #000000;
    }
  }
}